@model ShareViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview - ExpressForm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #e5f6fe;">
    <div class="container">
        <main role="main" class="py-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h4>@Model.FormTitle</h4>
                    <p>@Model.FormDescription</p>
                    <form asp-action="SendForm" asp-route-FormId="@Model.FormId">
                        <input class="form-control" asp-for="@Model.Link" readonly />
                        <button id="js-copyLink-button" onclick="copyLink()" class="btn btn-primary mt-4">Copy</button>
                        <hr />
                        <h4>Email</h4>
                        <div class="form-group">
                            <input asp-for="@Model.Email" class="form-control" />
                            <br />
                            <input asp-for="@Model.Subject" class="form-control" value="@Model.FormTitle" />
                            <br />
                            <input asp-for="@Model.Message" class="form-control" />
                        </div>
                        <button class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ExpressForm - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function copyLink() {
            event.preventDefault();
            const copyText = document.getElementById("Link");
            document.execCommand("copy");
            alert("Copied the link: " + copyText.value);
        }
    </script>
</body>
</html>