@model expressForm.Web.Controllers.FormQuestionViewModel
@using expressForm.Web.Models

@{
    ViewData["Title"] = "Question";
}


@section Scripts{
    <script type="text/javascript" src="~/js/site.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <h3>@Model.Form.Title</h3>
        <p>@Model.Form.Description</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            @if (Model.HasQuestions)
            {
                @foreach (var question in @Model.Questions)
                {
                    <li class="list-group-item list-group-item-action @(question.Id == Model.Question.Id ? "list-group-item-secondary" : string.Empty)">
                        <div class="float-left">
                            <a asp-action="Edit"
                               asp-route-formId="@Model.Form.Id"
                               asp-route-questionId="@question.Id">
                                @question.Text
                            </a>
                        </div>
                        <div class="float-right">
                            <a asp-action="Delete"
                               asp-route-formId="@Model.Form.Id"
                               asp-route-questionId="@question.Id">
                                ╳
                            </a>
                        </div>
                    </li>
                }
            }
            else
            {
                <li class="list-group-item">This Form has no questions</li>
            }
        </ul>
    </div>
    <div class="col-md-8">
        <form asp-action="Edit" id="QuestionForm" asp-route-questionId="@Model.Question.Id">
            <div class="row">
                <div class="col-md-8">
                    <div class="bg-light p-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input class="form-control" asp-for="@Model.Question.Text" />
                        </div>
                        @*<ul>
                                <li>
                                    <div class="form-group">
                                        <input class="form-control" asp-for="@Model.Question.Options" />
                                    </div>
                                </li>
                            </ul>*@
                        <button class="btn btn-primary">Save</button>
                    </div>
                    <div class="text-center p-3">
                        <a asp-action="Edit" 
                           asp-route-formId="@Model.Form.Id"
                           asp-route-questionId="0">Add Question</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select class="form-control" asp-for="Question.Type" asp-items="@Html.GetEnumSelectList<QuestionTypeViewModel>()" onchange="QuestionForm.submit()">
                        </select>
                    </div>
                    <div class="form-check">
                        <input asp-for="@Model.Question.IsRequired" onclick="QuestionForm.submit()" />
                        <label class="form-check-label" asp-for="@Model.Question.IsRequired">Required</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />





